<% provide(:title, "Welcome") %>
<!DOCTYPE html>
<html>
  <body>
    <div class="center jumbotron">
      <h1>Welcome#index</h1>
      <p>Find me in app/views/welcome/index.html.erb</p>
      <h1>Hello, Mike Ngo!</h1>
      <br>
      <h1>This is where the main content will be</h1>
    </div>
  </body>
</html>