<footer class="footer">
  <nav>
    <small>
      TinyNGO.com - All rights reserved.
    </small>
    <ul>
      <li><%= link_to "About",   'about_path' %> TinyNGO.com</li>
      <li><%= link_to "Contact Us", 'contact_path' %></li>
    </ul>
  </nav>
</footer>
